@import '../block-import';

.related { 
  border-radius: 11px;
  background: $light-orange2;
  &__heading {
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    background: $light-orange;
    font-size: 2.6rem;
    padding: 1.2rem 3rem;
    color: black;
    .cdhq-frontend & {
      margin-bottom: 0;
    }
  }
  &__items {
    list-style: none;
    // padding: 0 3rem 1.3rem;
    // padding: 0 3rem 0;
    padding: 0;
    margin-top: 0;
  }
  &__item {
    margin-left: 0;
    margin: 0;
    font-weight: $fw-bold;
    border-bottom: 1px solid $light-orange;
    &:last-child {
      border: 0;
    }
  }
  &__link {
    color: black;
    text-decoration: none;
    padding: 1.5rem 3rem;
    display: block;
    transition: .15s;
    .cdhq-frontend &:hover {
      text-decoration: none;
      background: darken($light-orange2, 3);
    }
  }
}